{% extends 'base.html' %}
{% block body %}
<div class="container-fluid mt-3">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title text-center">{{blog.title}}</h1>
            <div class="container mt-5 border-1 justify-content-center align-items-center">
                {% if blog.image=="Null" %}
                <img src="" class="card-img-top" alt="No image found">
                {% else %}
                <img src="{{url_for('static',filename=blog.image)}}" class="img-fluid h-auto" alt="No image found">
                {% endif %}
            </div>
            <p class="text-start h5" style="white-space: pre-wrap; text-align: justify; font-family: 'Tektur', cursive;">{{blog.content}}
            </p>

            <div class="justify-content-center align-items-center d-flex h-auto">
                {% if blog.video=="Null" %}
                <h3 class="text-center">No Video Found!</h3>
                {% else %}
                <iframe src="{{url_for('static',filename=blog.video)}}" width="500" height="300" frameborder="0"
                    allowfullscreen class="justify-content-center align-content-center"></iframe>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<footer class="bg-primary text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3">
        © 2023 Copyright
        <span>Date Created: {{blog.date_created}}</span>
    </div>
    <!-- Copyright -->
</footer>

{% endblock body %}